<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.favrora.smsgram"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.provider.Telephony.SMS_RECEIVED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"
        tools:node="remove" />

    <queries>
        <package android:name="com.favrora.contacts.pro.debug" />
        <package android:name="com.favrora.contacts.pro" />
    </queries>

    <uses-feature android:name="android.hardware.telephony" />

    <application
        android:name="com.favrora.smsgram.App"
        android:allowBackup="true"
        android:appCategory="productivity"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appNewName"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SplashActivity"
            android:exported="false"
            android:theme="@style/SplashTheme" />

        <activity
            android:name="com.favrora.smsgram.activities.MainActivity"
            android:exported="true" />

        <activity
            android:name=".activities.ThreadActivity"
            android:exported="false"
            android:parentActivityName="com.favrora.smsgram.activities.MainActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.SearchActivity"
            android:exported="false"
            android:label=""
            android:parentActivityName="com.favrora.smsgram.activities.MainActivity"
            android:resizeableActivity="true">

            <meta-data
                android:name="android.app.default_searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.NewConversationActivity"
            android:exported="true"
            android:parentActivityName="com.favrora.smsgram.activities.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:exported="true"
            android:label="@string/settings"
            android:parentActivityName="com.favrora.smsgram.activities.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.simplemobiletools.commons.activities.AboutActivity"
            android:exported="false"
            android:label="@string/about"
            android:parentActivityName="com.favrora.smsgram.activities.MainActivity" />

        <activity
            android:name="com.simplemobiletools.commons.activities.CustomizationActivity"
            android:exported="false"
            android:label="@string/customize_colors"
            android:parentActivityName=".activities.SettingsActivity" />

        <activity
            android:name="com.simplemobiletools.commons.activities.ManageBlockedNumbersActivity"
            android:exported="false"
            android:label="@string/blocked_numbers"
            android:parentActivityName=".activities.SettingsActivity" />

        <activity
            android:name=".activities.VCardViewerActivity"
            android:exported="false"
            android:label="@string/contact_details"
            android:parentActivityName=".activities.ThreadActivity" />

        <service
            android:name=".services.HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>

        <service android:name="com.android.mms.transaction.TransactionService" />

        <receiver android:name=".receivers.SmsStatusSentReceiver" />

        <receiver android:name=".receivers.SmsStatusDeliveredReceiver" />

        <receiver
            android:name=".receivers.SmsReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.android.mms.transaction.PushReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
                <data android:mimeType="application/vnd.wap.sic" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.MmsSentReceiver"
            android:exported="true"
            android:taskAffinity="com.klinker.android.messaging.MMS_SENT" />

        <receiver
            android:name=".receivers.MmsReceiver"
            android:exported="true"
            android:taskAffinity="com.klinker.android.messaging.MMS_RECEIVED" />

        <receiver
            android:name=".receivers.MarkAsReadReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.favrora.smsgram.action.mark_as_read" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.DirectReplyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.favrora.smsgram.action.reply" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.ScheduledMessageReceiver"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity-alias
            android:name=".activities.SplashActivity.Orange"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher"
            android:targetActivity=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>
</manifest>
